html {
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background: #ccc repeat;
    font-family: "Inconsolata", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.9;
    color: #6c757d;
}

a, a:not([href]):not([tabindex]) {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
    color: #77DAF6;
    z-index: 11;

}

a:not(.menu-header-sm a, .menu-header-lg a) {
    position: relative;
}

a:hover, a:not([href]):not([tabindex]):hover{
    text-decoration: none;
    color: #62b1f6;
}
a:hover:not(.menu-header-sm a:hover, .menu-header-lg a:hover){
    top: -0.5px;
    opacity: 0.7;
}
.social-link a {
    font-size: 16px;
}

.social a {
    line-height: 2.1;
}
h5.card-title a{
	color: #000;
}

h5.card-title a:hover,
h5.card-title a:focus,
h5.card-title a:active{
	color: #6e6e6e;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: 400;
    background: #fff !important;
}


.site-logo a {
    color: #000;
    font-size: 90px;
}

@media (max-width: 991px) {
    .site-logo {
        margin-bottom: 0;
    }

    .site-logo a {
        font-size: 30px;
        line-height: 30px
    }
}

.top-bar {
    background: #77DAF6;
    padding: 10px 0;
}

.top-bar .social a, .top-bar .search-icon a {
    color: #fff;
    opacity: .5;
    padding: 5px;
}

.top-bar .social a:hover, .top-bar .search-icon a:hover {
    opacity: 1;
}

.top-bar .social {
    text-align: center;
}


.top-bar .search-icon {
    text-align: right;
}

.navbar .container > div {
    border-bottom: 1px solid #e6e6e6;
}

@media (max-width: 767px) {
    .navbar .container > div {
        border-bottom: none;
    }
}

.category {
    display: inline-block;
    background: #77DAF6;
    padding: 2px 8px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff !important;
    margin-right: 10px;
    letter-spacing: .2em;
}

.category:hover, .category:focus, .category:active {
    background: #62b1f6;
}

.a-block {
    display: block;
    background-size: cover;
    background-position: center center;
    padding: 30px 80px;
    position: relative;
    margin-bottom: 30px;
    height: 300px;
}

.a-block.sm {
    padding: 30px 30px;
}

@media (max-width: 767px) {
    .a-block {
        padding: 30px;
    }
}

.a-block.height-lg {
    height: 400px;
}

.a-block.height-md {
    height: 400px;
}

.a-block:before {
    background: #000;
    position: absolute;
    content: "";
    z-index: 1;
    opacity: .3;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.a-block .text {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.a-block .text.half-to-full {
    max-width: 50%;
}

@media (max-width: 767px) {
    .a-block .text.half-to-full {
        max-width: 100%;
    }
}

.a-block .text .post-meta {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 13px;
    margin-bottom: 30px;
}

.a-block .text .post-meta .author img {
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.a-block .text h3 {
    color: #fff;
}

.a-block .text p {
    color: #fff;
}

.a-block:hover:before {
    opacity: .4;
}

.bio {
    padding: 15px;
    background: #fff;
    border: 1px solid #e6e6e6;
    font-weight: 400;
    border-radius: 10px;
}

a.avatar-bio {
    border: 4px solid #fff;
    -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
    max-width: 120px;
    margin-top: -5em;
    border-radius: 50%;
    position: relative;
    margin-bottom: 30px;
    display: block;
    overflow: hidden;
}

.bio h2 {
    font-size: 20px;
}

.bio .bio-body .social a {
    color: rgba(0, 0, 0, 0.6);
}

.bio .bio-body .social a:hover, .bio .bio-body .social a:focus,
.bio .bio-body .social a:active {
    color: #62b1f6;
}

.site-hero {
    background-size: cover;
    background-position: center center;
    min-height: 750px;
    height: 100vh;
}

.site-hero a {
    color: #fff;
    opacity: .5;
}

.site-hero a:hover {
    opacity: 1;
}

.site-hero .post-meta {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.site-hero h1, .site-hero p {
    color: #fff;
    line-height: 1.5;
}

.site-hero h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 30px;
}

.site-hero .lead {
    font-size: 30px;
    color: #fff;
    opacity: .8;
    margin-bottom: 30px;
    font-weight: 300;
}

.site-hero > .container {
    position: relative;
    z-index: 2;
}

.site-hero.overlay {
    position: relative;
}

.site-hero.overlay:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.site-hero .site-hero-inner {
    min-height: 750px;
    height: 100vh;
}

.box {
    padding: 30px;
    background: #fff;
}

.episodes .episode a {
    color: #000;
}

.episodes .episode a:hover {
    opacity: .7;
}

.episodes .meta {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .2em;
    color: #cccccc;
}

.episodes .episode-number {
    border: 2px solid #62b1f6;
    text-align: center;
    display: inline-block;
    width: 80px;
    height: 80px;
    text-transform: uppercase;
    line-height: 74px;
    border-radius: 50%;
    background: #77DAF6;
    color: #fff;
    font-size: 30px;
}

.site-hero-innerpage, .site-hero-innerpage .site-hero-inner {
    min-height: 550px;
    height: 50vh;
}


.school-features,
.school-instructors {
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

@media (min-width: 576px) {
    .school-features,
    .school-instructors {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 576px) {
    .school-features .inner,
    .school-instructors .inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
}

.school-features .feature, .school-features .instructor,
.school-instructors .feature,
.school-instructors .instructor {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .school-features .feature, .school-features .instructor,
    .school-instructors .feature,
    .school-instructors .instructor {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .school-features .feature, .school-features .instructor,
    .school-instructors .feature,
    .school-instructors .instructor {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 992px) {
    .school-features .feature, .school-features .instructor,
    .school-instructors .feature,
    .school-instructors .instructor {
        position: relative;
        width: 100%;
        min-height: 1px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        padding: 30px;
        border-right: 1px solid rgba(255, 255, 255, 0.1);
    }
}

.school-features .feature h3, .school-features .instructor h3,
.school-instructors .feature h3,
.school-instructors .instructor h3 {
    font-size: 18px;
    color: #fff;
}

.school-features .feature p, .school-features .instructor p,
.school-instructors .feature p,
.school-instructors .instructor p {
    color: #fff;
    opacity: .5;
}

.school-features .feature img, .school-features .instructor img,
.school-instructors .feature img,
.school-instructors .instructor img {
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.school-features .feature .icon > span:before, .school-features .instructor .icon > span:before,
.school-instructors .feature .icon > span:before,
.school-instructors .instructor .icon > span:before {
    font-size: 50px;
    margin-left: 0;
    color: #fff;
}

.school-features.text-dark.last,
.school-instructors.text-dark.last {
    border-bottom: none;
}

.school-features.text-dark.last .feature,
.school-instructors.text-dark.last .feature {
    border-bottom: none;
}

@media (min-width: 992px) {
    .school-features.text-dark .feature,
    .school-instructors.text-dark .feature {
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6;
    }
}

.school-features.text-dark .feature:last-child,
.school-instructors.text-dark .feature:last-child {
    border-right: none;
}

.school-features.text-dark .feature h3,
.school-instructors.text-dark .feature h3 {
    font-size: 18px;
    color: #000;
}

.school-features.text-dark .feature p,
.school-instructors.text-dark .feature p {
    color: #000;
    opacity: .5;
}

.school-features.text-dark .feature p:last-child,
.school-instructors.text-dark .feature p:last-child {
    margin-bottom: 0;
}

.school-features.text-dark .feature .icon > span:before,
.school-instructors.text-dark .feature .icon > span:before {
    font-size: 50px;
    margin-left: 0;
    color: #77DAF6;
}

.img-bg {
    background-size: cover;
}

@media (max-width: 991px) {
    .img-md-fluid {
        max-width: 100%;
    }
}

.section-cover {
    background-size: cover;
    position: relative;
    background-position: top left;
}

.section-cover, .section-cover .intro {
    height: 500px;
}

.section-cover p {
    color: #fff;
}

.section-cover h2 {
    color: #fff;
}

.blog-entries .blog-entry {
    display: block;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin-bottom: 30px;
    position: relative;
    border-radius: 10px;
}

.blog-entries .blog-entry:hover, .blog-entries .blog-entry:focus {
    opacity: .7;
    top: -1px;
    -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
}

.blog-entries .blog-entry .blog-content-body {
    padding: 20px;
    border: 1px solid #efefef;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.blog-entries .blog-entry img {
    max-width: 100%;
    border-radius: 10px 10px 0 0;
}

.blog-entries .blog-entry h2 {
    font-size: 18px;
    line-height: 1.5;
}

.blog-entries .blog-entry p {
    font-size: 13px;
    color: gray;
}

.blog-entries .post-meta {
    margin-bottom: 20px;
    font-size: 14px;
    color: #b3b3b3;
}

.blog-entries .post-meta .author img {
    width: 30px;
    border-radius: 50%;
    display: inline-block;
}

.instructor-meta {
    margin-bottom: 10px;
    color: #999999 !important;
}

.btn, .form-control {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
    outline: none;
}

.form-control {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

textarea.form-control {
    height: inherit;
}

.btn {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    padding: 8px 20px;
    border: none;
}

.btn.btn-black {
    background: #000;
    color: #fff;
}

.btn.btn-primary {
    color: #fff;
    background: #62b1f6;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
    background: #62b1f6;
}

.btn.btn-sm {
    font-size: 14px;
}

.btn.btn-outline-primary {
    color: #ffffff;
}

.btn.btn-outline-primary:hover, .btn.btn-outline-primary:focus, .btn.btn-outline-primary:active {
    color: #fff;
    background: #62b1f6;
}

.btn.btn-outline-info {
    color: #62b1f6;
    background: white;
}

.btn.btn-outline-info:hover, .btn.btn-outline-info:focus, .btn.btn-outline-info:active {
    color: #62b1f6;
    background: white;
}

.btn.btn-outline-white {
    border-width: 2px;
    border-color: #fff;
    color: #fff;
}

.btn.btn-outline-white:hover, .btn.btn-outline-white:focus {
    background: #fff;
    color: #000;
    border-width: 2px;
}

.btn:hover {
    -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    background: #62b1f6;
    color: white;
}


.box {
    overflow: hidden;
    border-radius: 4px;
    display: block;
}

.box img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.box .box-body {
    padding: 20px;
    border: 1px solid #e9ecef;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.box h2 {
    font-size: 18px;
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.box.hover:hover img, .box.hover:focus img {
    margin-top: -20px;
}

.box.hover:hover .box-body, .box.hover:focus .box-body {
    background: #77DAF6;
    color: #fff;
    padding: 30px 20px;
    border-color: #77DAF6;
}

.box.hover:hover h2, .box.hover:focus h2 {
    color: #fff;
}

.breadcrumb-custom {
    background: none;
    padding: 0;
}

.breadcrumb-custom li a {
    color: #77DAF6;
}

.breadcrumb-custom li a:hover {
    color: #fff;
}

.breadcrumb-custom li.active {
    color: #fff;
}

.breadcrumb-custom li.breadcrumb-item + .breadcrumb-item:before {
    content: "/";
    color: rgba(255, 255, 255, 0.3);
}

.children-info li {
    display: block;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #dee2e6;
}

.sidebar {
    padding-left: 2em;
}

@media (max-width: 991px) {
    .sidebar {
        padding-left: 15px;
    }
}

.sidebar-box {
    margin-bottom: 4em;
    font-size: 15px;
    width: 100%;
    float: left;
    background: #fff;
}

.sidebar-box *:last-child {
    margin-bottom: 0;
}

.sidebar-box .heading {
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.tags {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.tags li {
    padding: 0;
    margin: 0 4px 4px 0;
    float: left;
    display: inline-block;
}
.tags li a svg{
    color: #77DAF6;
}
.tags li a {
    float: left;
    display: block;
    border-radius: 4px;
    padding: 2px 6px;
    color: grey;
    background: #ffffff;
}

.tags li a:hover {
    color: #77DAF6;
}

.pagination {
    margin-bottom: 5em;
    text-align: center !important;
    display: block;
}

.pagination li {
    margin-right: 2px;
    margin-bottom: 3px;
    display: inline-block;
}

.pagination li a {
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
}

.pagination li a:focus, .pagination li a:active {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.pagination li a:hover {
    background: #77DAF6;
    color: #fff;
    border: 1px solid transparent;
}

.pagination li.active a {
    border: 1px solid transparent !important;
}

.categories, .sidelink {
    padding: 0;
    margin: 0;
    font-weight: 400;
}

.categories li, .sidelink li {
    padding: 0 0 10px;
    margin: 0 0 10px;
    position: relative;
    border-bottom: 1px dotted #dee2e6;
    list-style: none;
}

.categories li:last-child, .sidelink li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

.categories li a, .sidelink li a {
    display: block;
    font-size: 16px;
}

.categories li a span, .sidelink li a span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.categories li a:hover span, .sidelink li a:hover span {
    color: #000;
}

.categories li.active a, .sidelink li.active a {
    color: #000;
    font-style: italic;
}

.cover_1 {
    background-size: cover;
    background-position: center center;
    padding: 7em 0;
}

.cover_1 .sub-heading {
    color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
}

.cover_1 .heading {
    font-size: 50px;
    color: white;
    font-weight: 300;
}

.heading {
    color: #000;
}

.heading.border-bottom {
    position: relative;
    padding-bottom: 30px;
}

.heading.border-bottom:before {
    bottom: 0;
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background: #77DAF6;
}

.text-black {
    color: #000 !important;
}

.stretch-section .video {
    display: block;
    position: relative;
    -webkit-box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 70px -20px rgba(0, 0, 0, 0.5);
}

.media-feature {
    padding: 30px;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
    background: #fff;
    z-index: 1;
    position: relative;
    border-bottom: 10px solid transparent;
    border-radius: 4px;
    font-size: 15px;
}

.media-feature .icon {
    font-size: 60px;
    color: #77DAF6;
}

.media-feature h3 {
    font-size: 16px;
    text-transform: uppercase;
}

.media-feature:hover, .media-feature:focus {
    -webkit-box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 20px -3px rgba(0, 0, 0, 0.1);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 2;
    border-bottom: 10px solid #77DAF6;
}

.media-custom {
    background: #fff;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    margin-bottom: 30px;
    position: relative;
    top: 0;
}

.media-custom .meta-post {
    color: #ced4da;
    font-size: 13px;
    text-transform: uppercase;
}

.media-custom > a {
    position: relative;
    overflow: hidden;
    display: block;
}

.media-custom .meta-chat {
    color: #ced4da;
}

.media-custom .meta-chat:hover {
    color: #6c757d;
}

.media-custom img {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.media-custom:focus, .media-custom:hover {
    top: -2px;
    -webkit-box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 40px 0 rgba(0, 0, 0, 0.2);
}

.media-custom:focus img, .media-custom:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.media-custom .media-body {
    padding: 30px;
}

.media-custom .media-body h3 {
    font-size: 20px;
}

.media-custom .media-body p:last-child {
    margin-bottom: 0;
}

#accordion .card {
    font-size: 15px;
    border-color: #dee2e6;
}

#accordion .card h5 a {
    display: block;
    text-align: left;
    text-decoration: none;
    color: #77DAF6;
    position: relative;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
    border-radius: 0;
}

#accordion .card h5 a .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-180deg);
    -ms-transform: translateY(-50%) rotate(-180deg);
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

#accordion .card h5 a:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card h5 a.collapsed {
    color: #000;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#accordion .card h5 a.collapsed .icon {
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#accordion .card h5 a.collapsed:hover {
    text-decoration: none;
    -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

#accordion .card .card-body {
    padding-top: 15px;
}

.testimonial {
    font-size: 30px;
    color: #000;
}

.media-testimonial img {
    width: 100px;
    border-radius: 50%;
}

.media-testimonial blockquote p {
    font-size: 20px;
    color: #000;
    font-style: italic;
}

.comment-form-wrap {
    clear: both;
}

.comment-list {
    padding: 0;
    margin: 0;
}

.comment-list .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
}

.comment-list li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
}

.comment-list li .vcard {
    width: 80px;
    float: left;
}

.comment-list li .vcard img {
    width: 50px;
    border-radius: 50%;
}

.comment-list li .comment-body {
    float: right;
    width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
    font-size: 20px;
}

.comment-list li .comment-body .meta {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .1em;
    color: #ccc;
}

.comment-list li .comment-body .reply {
    padding: 5px 10px;
    background: #e6e6e6;
    color: #000;
    text-transform: uppercase;
    font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
    color: #000;
    background: #e3e3e3;
}

@media (max-width: 992px){
    .comment-body-content{
        font-size: 12px;
    }
}

.post-entry-horzontal {
    margin-bottom: 30px;
}

.post-entry-horzontal a {
    overflow: hidden;
    display: table;
    position: relative;
    top: 0;
    -webkit-transition: .1s all ease;
    -o-transition: .1s all ease;
    transition: .1s all ease;
    border-radius: 10px;
    width: 100%;
}

.post-entry-horzontal a .image, .post-entry-horzontal a .text {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .post-entry-horzontal a .image, .post-entry-horzontal a .text {
        display: block;
    }
}

.post-entry-horzontal a .image {
    width: 200px;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 767px) {
    .post-entry-horzontal a .image {
        width: 100%;
        height: 200px;
    }
}

.post-entry-horzontal a .text {
    padding: 30px;
    width: calc(100% - 200px);
    border: 1px solid #e6e6e6;
    border-left: none;
    border-radius: 0 10px 10px 0;
}

@media (max-width: 767px) {
    .post-entry-horzontal a .text {
        width: 100%;
        border: 1px solid #e6e6e6;
        border-top: none;
        border-radius: 0 0 10px 10px;
    }
}

.post-entry-horzontal a .text h2 {
    font-size: 20px;
}

.post-entry-horzontal a .text p {
    color: #999999;
    margin-bottom: 30px;
}

.post-entry-horzontal a:hover {
    top: -3px;
    -webkit-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}
.search-top-sm{
    margin-top: 20px;
}
.search-top .search-top-form, .search-top-sm .search-top-form {
    position: relative;
}

.search-top .icon, .search-top-sm .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 15px;
}
.search-top .icon{
    color: #fff;
}
.search-top-sm .icon{
    color: #62b1f6;
}
.search-top input, .search-top-sm input {
    width: 100%;
    border: none;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 4px 40px 4px 15px;
    font-size: 16px;
    border-radius: 20px;
}
.search-top input {
    color: #fff;
    background: #62b1f6;
}
.search-top-sm input {
    color: #62b1f6;
    background: #fff;
}

.search-top input::-webkit-input-placeholder {
    color: #fff;
}

.search-top input:-ms-input-placeholder {
    color: #fff;
}

.search-top input::-ms-input-placeholder {
    color: #fff;
}

.search-top input::placeholder {
    color: #fff;
}

.search-top-sm input::-webkit-input-placeholder {
    color: rgba(0,0,0,0.3);
}

.search-top-sm input:-ms-input-placeholder {
    color: rgba(0,0,0,0.3);
}

.search-top-sm input::-ms-input-placeholder {
    color: rgba(0,0,0,0.3);
}

.search-top-sm input::placeholder {
    color: rgba(0,0,0,0.3);
}

.search-top input:active, .search-top input:focus {
    background: #62b1f6;
    outline: none;
}
.search-top-sm input:active, .search-top-sm input:focus {
    background: white;
    outline: none;
    color: black;
}
.post-entry-sidebar .post-meta {
    font-size: 14px;
    color: #b3b3b3;
}

.post-entry-sidebar ul {
    padding: 0;
    margin: 0;
}

.post-entry-sidebar ul li {
    list-style: none;
    padding: 0 0 20px 0;
    margin: 0;
    position: relative;
}

.post-entry-sidebar ul li a {
    display: table;
}

.post-entry-sidebar ul li a img {
    width: 90px;
}

.sidebar .post-entry-sidebar ul li a {
    border-radius: 5px;
}

.sidebar .post-entry-sidebar ul li a img {
    width: 95px;
    border-radius: 5px 0 0 5px;
}

.post-entry-sidebar ul li a img, .post-entry-sidebar ul li a .text {
    display: table-cell;
    vertical-align: middle;
}

.sidebar .post-entry-sidebar ul li a .text {
    padding-left: 10px;
}

.post-entry-sidebar ul li a .text h4 {
    font-size: 15px;
    margin-bottom: 2px;
}

.sidebar .post-entry-sidebar ul li a .text h4 {
    font-size: 12px;
    margin-bottom: 2px;
}

.sidebar .post-entry-sidebar ul li a .text .post-meta {
    line-height: 1;
    font-size: 11px;
}

.search-form-wrap {
    margin-bottom: 5em;
    display: block;
}

.search-form .form-group {
    position: relative;
}

.search-form .form-group #s {
    background: #f7f7f7;
    padding: 10px 40px 10px 15px;
    border: none;
}

.search-form .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

blockquote {
    padding-left: 30px;
    border-left: 10px solid #e6e6e6;
}

blockquote p {
    font-size: 18px;
    font-style: italic;
    color: #000;
}


.border-t {
    border-top: 1px solid #f8f9fa;
}


.btn {
    border-radius: 20px;
}

.user-status {
    text-align: center;
}

.user-status a {
    background: #62b1f6;
    color: white;
}
.page-link {
    color: #77DAF6;
}
.page-item.active{
    border-radius: 50px;
    width: 40px;
}
.page-item.active .page-link {
    background: #77DAF6;
    border-radius: 50px;
    border-color: transparent;
}
.page-item.disabled{
    display: none;
}

@-webkit-keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

@keyframes loader-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -136px;
    }
}

.main-dish .container {
    padding: 30px 50px;
    border: 1px solid transparent;
    background: white;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
}

@media (min-width: 576px) {
    .main-dish .container {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

.carousel-home-span {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

#carousel-home-bg-1 {
    background-position: center 25%;
}

#carousel-home-bg-2 {
    background-position: center 25%;
}

#carousel-home-bg-3 {
    background-position: center;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption p {
    color: white;
}

.carousel-control-fix {
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}

@media (max-width: 767px) {
    .carousel-indicators {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 1900px) {
    .carousel-control-fix {
        opacity: 0;
    }
}

@media (min-width: 1901px) {
    .carousel-control-fix {
        background: rgba(0, 0, 0, 0.7);
        width: calc(25vw - 315px);
    }

    .carousel-control-fix:hover {
        background: rgba(0, 0, 0, 0.9);
    }
}

a.carousel-post-link h5 {
    color: white;
}

a.carousel-post-link:hover h5, a.carousel-post-link:active h5,
a.carousel-post-link:focus h5 {
    color: #77DAF6;
}


.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    background: #62b1f6;
    color: white;
    font-size: 16vh;
    padding: 38vh 0;
}


::-webkit-scrollbar {
    width: 0.6vw;
    border: 0.5vw solid white;
    border-radius: 0.6vw;

}

::-webkit-scrollbar-thumb {
    background-color: #77DAF6;
    background-clip: padding-box;
    border: 0.1vw solid #ffffff;
    border-radius: 0.6vw;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
    background-color: #ffffff;
    display: block;
    border-style: solid;
    height: 0.55vw;
    width: 0.6vw;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 0.3vw 0.3vw 0.3vw;
    border-color: transparent transparent #77DAF6 transparent;
    border-radius: 0.3vw 0.3vw 0 0;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #77DAF6 transparent;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 0.3vw 0.3vw 0 0.3vw;
    border-color: #77DAF6 transparent transparent transparent;
    border-radius: 0 0 0.3vw 0.3vw;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #77DAF6 transparent transparent transparent;
}


html, body {
    overflow: hidden;
}

.site-section {
    padding: 0 !important;
}

.site-footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 0 1px;
}

.site-footer h1, .site-footer h2, .site-footer h3,
.site-footer h4, .site-footer h5, .site-footer h6 {
    color: white;
}

.site-footer a {
    color: white;
}

.site-footer a:hover,
.site-footer a:focus, .site-footer a:active {
    color: rgba(255, 255, 255, 0.5);
}

.sidebar .post-entry-link {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.sidebar .post-entry-link:hover, .sidebar .post-entry-link:focus {
    opacity: .7;
    top: -1px;
    -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
    box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
}

.site-footer .post-entry-link {
    position: static;
}

.site-footer .post-entry-link:hover,
.site-footer .post-entry-link:focus {
    opacity: 0.7;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .sidebar .post-entry-sidebar ul li a {
        border-radius: 10px;
    }

    .sidebar .post-entry-sidebar ul li a .text {
        margin-top: 15px;
    }

    .sidebar .post-entry-sidebar ul li a img,
    .sidebar .post-entry-sidebar ul li a .text {
        display: table;
    }

    .sidebar .post-entry-sidebar ul li a img {
        margin: 0 !important;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .blog-entries .post-meta span {
        font-size: 10px;
    }

    .blog-entries .post-meta span.author {
        font-size: 14px;
    }
}

.footer-banner img {
    max-width: 100%;
}

@media (max-width: 575px) {
    .footer-banner {
        width: 100%;
    }
}

@media (min-width: 575px) {
    .footer-banner {
        width: 90%;
    }
}
.footer-banner-img img{
    border-radius: 10px;
}
.footer-banner-img:hover{
    opacity: 0.7;
    -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
}
.footer-banner-img,
.site-logo a, .navbar a {
    position: static;
}

.footer-logo {
    position: static;
}

.footer-logo:hover h1 {
    opacity: 0.7;
}

.logo-header-wrap {
    position: relative;
}

.menu-button {
    position: absolute;
    padding: 17px 21px;
    font-size: 21px;
    top: 0;
    left: 0;
    line-height: 1;
    color: rgba(0,0,0,0.6);
    border-radius: 5px;
}

.menu-header-lg {
    padding-bottom: 10px;
    z-index: 100;
    position: relative;
}

.close-menu-sm {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    display: none;
}

.menu-header-sm {
    padding: 15px;
    position: fixed;
    height: 100vh;
    top: 0;
    left: -80vw;
    width: 40vw;
    background: white;
    z-index: 100;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    overflow-y: scroll;
    max-width: 250px;
}

@media (max-width: 575px) {
    .menu-header-sm {
        width: 80vw;
    }
}
.menu-header-sm li a{
    position: relative;
    padding-left: 40px;
}
.menu-header-sm li.logo-header-wrap a{
    padding-left: 1rem;
}
.menu-header-sm li.logo-header-wrap{
    margin-bottom: 15px;
}
.menu-header-lg li a{
    display: block;
}
.menu-header-sm li a svg{
    position: absolute;
    top: 15px;
    left: 6px;
}
.menu-header-sm li a svg.fa-caret-down{
    left: 88%;
}
.dropDownMenu-sm{
    list-style: none;
    padding-left: 0;
    display: none;
}
.dropDownMenu-sm li a{
    padding-left: 60px;
}
.dropDownMenu-sm li a svg{
    left: 26px;
}
.menu-header-lg .nav-link,
.dropDownCart-lg .nav-link{
    position: relative;
    z-index: 100 !important;
}
.dropDownMenu-lg{
    position: absolute;
    background: white;
    text-align: left;
    list-style: none;
    padding: 0;
    width: 180px;
    font-size: 17px;
    left: 0;
    top: 50px;
    display: none;
	z-index: 100;
}
.dropDownCart-lg{
    position: absolute;
    background: white;
    text-align: left;
    list-style: none;
    padding: 0;
    width: 450px;
    font-size: 17px;
    right: 0;
    top: 50px;
    display: none;
	z-index: 100;
	border: 1px solid #e9ecef;
	border-radius: 5px;
}

.menu-header-lg .nav-link .dropDownMenu-lg li a{
	padding-left: 50px;
}
.menu-header-lg .nav-link .dropDownCart-lg .nav-item{
	padding-right: 50px;
	position: relative;
}
.menu-header-lg .nav-link .dropDownCart-lg li a{
	padding-left: 80px;
	padding-right: 80px;
	color: #000 !important;
}
.menu-header-lg .nav-link .dropDownCart-lg .nav-item .cart-remove-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.menu-header-lg .nav-link .dropDownCart-lg li a .cart-game-icon{
	position: absolute;
	height: 80%;
	top: 10%;
	left: 10px;
	width: 60px;
}
.menu-header-lg .nav-link .dropDownCart-lg .cart-top{
	position: relative;
}
.menu-header-lg .nav-link .dropDownCart-lg .cart-top .cart-remove-all-btn{
	position: absolute;
	right: 10px;
	top: 4px;
	cursor: pointer;
}
.menu-header-lg .nav-link .dropDownCart-lg li a .cart-item-price{
	position: absolute;
	top: 8px;
	right: 0;
}
.menu-header-lg .nav-link .dropDownMenu-lg li a svg{
    position: absolute;
    left: 16px;
    top: 15px;
}
.close-menu-lg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: transparent !important;
    display: none;
}
.d-inline.nav-link{
    margin: 0 5px;
    border-radius: 32px;
}
.d-inline.nav-link:hover,
.d-inline.nav-link:focus,
.d-inline.nav-link:active{
    background: #77DAF6;
    color: white;
}

.d-inline.nav-link:hover a.mx-auto,
.d-inline.nav-link:focus a.mx-auto,
.d-inline.nav-link:active a.mx-auto{
    color: white;
}
.d-inline.nav-link.active{
    background: #77DAF6 !important;
}
.d-inline.nav-link.active a.mx-auto{
    color: white !important;
}
.dropDownMenu-lg li.nav-item:hover,
.dropDownMenu-lg li.nav-item:focus,
.dropDownMenu-lg li.nav-item:active{
    background: #77DAF6;
    color: white;
}
.dropDownMenu-lg li.nav-item:hover .nav-link,
.dropDownMenu-lg li.nav-item:focus .nav-link,
.dropDownMenu-lg li.nav-item:active .nav-link{
    color: white;
}
.site-footer h3 svg{
    font-size: 1.25rem;
}
.back-to-top{
    display: none;
    position: fixed;
    bottom: 0;
    right: 30px;
    font-size: 50px;
    -webkit-transition: 1s all ease;
    -o-transition: 1s all ease;
    transition: 1s all ease;
    z-index: 70 !important;
}
h1 svg, h2 svg, h3 svg, h4 svg, h5 svg{
    color: #77DAF6;
}
.site-footer svg{
    color: #77DAF6;
}
.main-dish svg.fa-comments{
    color: #77DAF6;
}
.post-content-body img{
    max-width: 100%;
}
.post-entry-horzontal svg{
    color: #77DAF6;
}
.about-content{
    position: relative;
}
.about-cover{
    position: absolute;
    height: 200px;
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 30px 30px 0 0;
}
.about-main{
    margin-top: 330px;
}
.about-avatar img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    top: 90px;
    border: 7px solid white;
    -webkit-box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
    box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.4);
}
.about-avatar .about-name{
    position: relative;
    top: 150px;
}
@media (max-width: 992px) {
    .about-avatar .about-name{
        top: 110px;
    }
    .about-main{
         margin-top: 350px;
    }
}
.post-content-body strong{
    font-weight: bold;
}
.comment-form-wrap #comment-form .form-group .form-input{
    border-right: none;
    border-left: none;
    border-top: none;
}
.notifyjs-bootstrap-base{
    background-image: none !important;
}
.modal-open {
	padding-right: 0 !important;
}
.text-compartible{
	color: #62b1f6 !important;
}
